@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --bg-color: #f2fdeb; /* очень светлый зеленоватый фон (из Natural palette) */
  --bg-secondary: #fffbcf; /* тёплый светлый блоки / карточки */
  --card-bg: #ffffff; /* чистые карточки, модалки */
  --text-color: #1f291f; /* тёмный, но не чёрный */
  --text-muted: #6b7766; /* серо-зелёный для второстепенного */
  --primary-color: #5ea13c; /* главный акцент (кнопки, активные элементы) */
  --primary-dark: #2e4123; /* ховер, хедер, важные элементы */
  --accent-color: #3d718a; /* синий-зелёный, можно для вторичных кнопок */
  --accent-dark: #004158; /* наведение / активные состояния */
  --border-color: #e0e7d9; /* границы карточек, инпуты */
  --border-radius: 15px;
  --box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  font-family: "Rubik", sans-serif;
  font-size: 1.3em;
}

body {
  background-color: var(--bg-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.header__info {
  display: flex;
  justify-content: space-between;
}

.layout__inner {
  background-color: var(--bg-secondary);
  color: var(--text-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  padding: 50px;
  font-size: 1.2em;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.card {
  margin: 30px auto;
  width: 400px;
  height: 370px;
  perspective: 1000px;
  font-size: 0.6em;
  color: var(--accent-dark);
}

.card__inner {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--card-bg);
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  padding: 10px 15px;
  display: flex;
  text-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  -webkit-backface-visibility: hidden;
}

.card__face--front {
  transform: rotateY(0deg);
}

.card__face--back {
  transform: rotateY(180deg);
}

.card__inner.card--flipped {
  transform: rotateY(180deg);
}

.btn {
  padding: 10px 40px;
  background-color: var(--primary-color);
  color: var(--border-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}

.disabled {
  background-color: var(--text-muted);
}

.card__word {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--accent-color);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn-show {
  grid-column: span 2;
}
